$font-size = 12px

//页面的初始化
body,a,p,h1,h2,h3,h4,ul,li,input,img,div,span,form,dl,dt,dd,em,i,textarea
	font-size:$font-size
	margin:0
	padding:0
img
	border:none
	vertical-align:top
li
	list-decoration:none
a
	text-decoration:none
	color:#666666
	&:hover
		color:#f04381
div
	height:100px